@model Category

<form asp-controller="Category" asp-action="Create" method="post">


	<div class="mb-3">
		<label asp-for="CategoryName" class="form-label">Kategori ismi</label>
		<input asp-for="CategoryName" type="text" class="form-control">
	</div>



	<button type="submit" class="btn btn-primary">Kategori ekle</button>
</form>