@model List<Category>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Kategori Adı</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.CategoryName</td>     
        </tr>
       }
    </tbody>
</table>
